[submodule "libraries/VectiOTA"]
	path = libraries/VectiOTA
	url  = https://github.com/vectivolt/VectiOTA.git
	branch = main
[submodule "libraries/VectiSerial"]
	path = libraries/VectiSerial
	url  = https://github.com/vectivolt/VectiSerial.git
	branch = main
[submodule "libraries/VectiNet"]
	path = libraries/VectiNet
	url  = https://github.com/vectivolt/VectiNet.git
	branch = main
[submodule "libraries/VectiDash"]
	path = libraries/VectiDash
	url  = https://github.com/vectivolt/VectiDash.git
	branch = main
